# Database
POSTGRES_PASSWORD=postgres_password

# RabbitMQ
RABBITMQ_PASSWORD=rabbitmq_password

# Keycloak
KC_BOOTSTRAP_ADMIN_PASSWORD=admin_password
KEYCLOAK_CLIENT_SECRET=keycloak_secret

# Minio
MINIO_ROOT_PASSWORD=minio_password

# Stripe
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder

# Email
MAIL_PASSWORD=mail_password
