POSTGRES_PASSWORD=change_me
RABBITMQ_PASSWORD=change_me
KC_BOOTSTRAP_ADMIN_PASSWORD=change_me
MINIO_ROOT_PASSWORD=change_me
STRIPE_SECRET_KEY=sk_test_change_me
STRIPE_WEBHOOK_SECRET=whsec_change_me
KEYCLOAK_CLIENT_SECRET=change_me
MAIL_PASSWORD=change_me
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/cinema-realm/protocol/openid-connect/certs
