server:
  port: 8081  # Core service port

spring:
  application:
    name: core-service
  datasource:
    url: jdbc:postgresql://localhost:5432/core_db
    username: postgres
    password: 4748
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
