server:
  port: 8082   # booking-service port

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:postgresql://localhost:15432/cinema_db?currentSchema=booking
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: booking
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: never
  RabbitMQ:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
